body{
    background-color: rgb(233, 246, 255);
    margin: 0;
    font-family: Palatino, URW Palladio L, serif;
}

nav ul{
    margin:0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(166, 232, 253);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    cursor: pointer;
}

nav a:hover{
    font-size: 1.35em;
}
h1{
    text-align: center;
    font-style: italic;
    margin-top: 7%;
    margin-bottom: 2%;
}

#artistData{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem auto;
    max-width: 700px;
}

#seeArtworks{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
}

#seeArtworks:hover{
    text-decoration: underline;
    transform: scale(1.02);
}
